* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

:root {
  --color-dark: #131c21;
  --color-light: #fafbfd;
  --background-rgba: rgba(0, 0, 0, .5);
}

body::after {
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  content:
    url(/imgs/1.jpg) url(/imgs/2.png) url(/imgs/3.jpg) url(/imgs/4.png) url(/imgs/5.png);
}

body {
  color: var(--color-light);
  background-color: var(--color-light);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  animation-duration: 80s;
  animation-name: bgswap;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  padding: 1rem;
}

@keyframes bgswap {
  0% { background-image: url(/imgs/1.jpg); }
  20% { background-image: url(/imgs/2.png); }
  40% { background-image: url(/imgs/3.jpg); }
  60% { background-image: url(/imgs/4.png); }
  80% { background-image: url(/imgs/5.png); }
  100% { background-image: url(/imgs/1.jpg); }
}

article {
  letter-spacing: 1px;
  text-align: center;
  font-size: 1.2em;
  background: var(--background-rgba);
  padding: 1rem;
  margin-bottom: 1.5rem;
}

.time {
  justify-content: center;
  font-size: 2em;
  padding: 0;
}

.weather {
  bottom: 1rem;
  right: 1rem;
}

#temp-description {
  font-size: 0.7rem;
}

.cryptocurrency {
  right: 1rem;
  display: grid;
  grid-gap: 0.8rem;
}

.audio {
  bottom: 1rem;
}

audio {
  height: 30px;
  filter: invert(100%);
}

@media (min-width: 768px) { 
  article {
    position: absolute;
    margin-bottom: 0;
  }
  .time {
    justify-content: space-between;
    padding: 0 0.7rem;
  }
}